html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}
ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.header-page {
    border-bottom: 1px solid #e7e9fc;
}
.header-container {
    display: flex;
    align-items: center;
}
.header-nav {
    display: flex;
    align-items: center;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}
.header-logo .logo-part {
    color: #2e2f42;
}
.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
}
.nav-link:hover, 
.nav-link:focus {
    color: #404bbf;
}
.contacts {
    font-style: normal;
    margin-left: auto;
}
.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: block;
    padding: 24px 0;
}
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}
section {
    display: block;
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
    }
    .button-title {
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    font-family: inherit;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.hero {
    padding: 188px 0;
}

.button-title:hover,
.button-title:focus {
    background-color: #404bbf; 
}
.avantages {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.benefits {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}
.benefits-list {
    width: calc((100% - 72px) / 4);
    margin: 0;
    padding: 0;
}
.advantages-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.advantages-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.team {
    background-color: #f4f4fd;;
}
.team-list {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}
.team-img {
    width: calc((100% - 72px) / 4);
    margin: 0;
    padding: 0;
    background-color: #fff;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.under-img {
    padding-top: 32px;
    padding-bottom: 32px;
}
.team-title {
    margin-bottom: 72px;
}
.team-title,
.portfolio-title {
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.team-name {
    margin-bottom: 8px;
}
.team-name,
.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.team-text,
.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
.portfolio-title {
    margin-bottom: 72px;
}
.under-foto {
  padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.portfolio-name {
    margin-bottom: 8px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 48px 24px;
}
.portfolio-img {
    width: calc((100% - 48px) / 3);
    margin: 0;
    padding: 0;
    background-color: #fff;
}
.hero,
.footer-page {
    background-color: #2e2f42;
}
.footer-logo .logo-part {
    color: #f4f4fd;
}
.footer-logo {
    display: flex;
    margin-bottom: 16px;
    display: inline-block;
}
.footer-text {
    max-width: 264px;
        margin-right: auto;
}

.footer-page {
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}